.entry-view {
    width: 760px;
    min-height: 100%;
    display: inline-block;
    vertical-align: top;

    background: white;

    > .tab-view {
        width: 100%;
    }

    .tab-panel {
        margin: 0 40px;
    }
}

.entry-view-edit-button {
    float: right;
    border: 0;
    background: none;
    box-sizing: border-box;

    &:focus { outline: 0 }

    display: inline-block;
    margin: 30px 16px;
    padding-left: 2px;
    padding-right: 2px;

    @extend .header-2;
}

.entry-view-header {
    margin-bottom: 40px;
}

.entry-view-headword {
    font-family: "Noto Sans CJK TC";
    font-weight: 100;
    font-size: 56px;
    margin: 0;
    color: $color-text-main;
    text-decoration: none;

    &:hover:after {
        content: "¶";
        opacity: 0.2;
    }
}

.entry-view-definitions {
    @extend .definition-list;
}

.entry-view-definition {
    @extend .definition-list-item;
}

.entry-view-sentences {
    @extend .definition-list;
}

.entry-view-sentence {
    @extend .entry-view-definition;
}

.entry-view-characters {
    list-style: none;
    padding: 0;
    margin: 0;
}

.entry-view-character {
    display: inline;
}