.entry-view {
    display: inline-block;
    vertical-align: top;
}

.entry-view-headword {
    font-family: "Noto Sans CJK TC";
    font-weight: 100;
    font-size: 56px;
    margin: 40px;
    color: $color-text-main;
}