.entry-view {
    display: inline-block;
    vertical-align: top;

    background: white;

    > .tab-view {
        width: 100%;
    }

    .tab-panel {
        margin: 0 40px;
    } 
}

.entry-view-headword {
    font-family: "Noto Sans CJK TC";
    font-weight: 100;
    font-size: 56px;
    margin: 0;
    color: $color-text-main;
}

.entry-view-definition-list {
    @extend .definition-list;
}

.entry-view-definition-list-item {
    @extend .definition-list-item;

    &:hover:after {
        content: " [edit]";
    }
}