$pageHeaderHeight: 120px;
$pageHeaderPadding: 20px;
$pageHeaderContentHeight: $pageHeaderHeight - 2 * $pageHeaderPadding;
$logoHeight: 120px;

.background-cover {
    z-index: 0;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -30%;

    transform: none;
    background: white;
    width: 60%;
    height: $pageHeaderHeight;

    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
}

.background-cover.centered {
    transform: translateY(300px);
}

.app-container {
    z-index: 100;
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.app-container.expanded {
    width: 100%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.page-header {
    width: 100%;
}

.page-header.expanded {
    display: flex;
}

.page-header.not-expanded {
    margin-top: 200px;
    text-align: center;
}

.page-header-logo {
    height: $logoHeight;

    img { height: 100%; }
}

.page-header-logo.not-expanded {
    margin-bottom: 20px;
}

.page-header-logo.expanded {
    transform: scale(0.5);
}

.page-header.expanded {
    background: white;
    border-bottom: 1px solid #C9CCD2;
}

.page-header.expanded .page-header-logo {
    margin-left: 0;
}

.page-header.not-expanded {
    position: absolute;
}


.page-header-search-bar {
    background: white;
    border: 1px solid #f5f5f5;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);

    height: $pageHeaderHeight;
    padding: $pageHeaderPadding;
    display: flex;
}

.page-header.not-expanded .page-header-search-bar {
    width: 60%;
    margin: 0 auto;
}

.page-header.expanded .page-header-search-bar {
    border: 0;
    box-shadow: none;
    flex: 1;

    transform: 0;
    transform-origin: 0 0;
}

.page-header-looking-glass {
    box-sizing: content-box;
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 31" xmlns="http://www.w3.org/2000/svg"><title>Oval 1 + Line</title><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)" stroke="#ccc" stroke-width="2"><circle cx="11" cy="11" r="11"/><path d="M18.393 19.393L27 28" stroke-linecap="square"/></g></g></svg>');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 30px;
    height: 30px;
    padding: ($pageHeaderContentHeight / 2) - 15px;
}

.page-header-search {
    box-sizing: border-box !important;
    flex: 1;
    height: $pageHeaderContentHeight;
    vertical-align: top;
    border: none;
    font-family: "adelle-sans";
    font-size: 30px;
    color: #df2e1c;

    &::selection {
      background: #ffb7b7;
    }

    &:focus {
        outline: 0;
    }
}

.page-header.not-expanded > .login-switch {
    display: none;
}

.login-switch {
    display: inline-block;
    line-height: $pageHeaderContentHeight;
}

.login-switch-link {
    color: $color-text-main;
    font-family: "adelle-sans";
    border: 0;
    background: none;
    padding: 0;

    &:focus {
        outline: 0;
    }

    &:hover {
        text-decoration: underline;
    }
}