$pageHeaderHeight: 120px;
$pageHeaderPadding: 20px;
$pageHeaderContentHeight: $pageHeaderHeight - 2 * $pageHeaderPadding;
$logoHeight: 160px;

.app-container {
    background: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: .4s ease-out;
}

.app-container {
    position: relative;
    transform: none;
    margin: 0 auto;
    background: white;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
}

.app-container.not-centered {
    min-height: 100%;
}

.app-container.centered {
    align-items: center;
    justify-content: center;
    width: 60%;
    transform: translateY(300px);
}

.page-header {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-header-logo {
    position: absolute;
    left: 50%;
    right: 50%;
    height: $logoHeight;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: -80px;
    transition: opacity 1s ease;
}

.page-header-logo.not-visible {
    opacity: 0;
}

.page-header-logo.visible {
    opacity: 1;
}

.page-header.expanded > .page-header-search-bar {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.page-header-search-bar {
                //0px 6px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #f5f5f5;
    background: white;
    height: $pageHeaderHeight;
    padding: $pageHeaderPadding;
    display: flex;
}

.page-header-looking-glass {
    box-sizing: content-box;
    display: inline-block;
    background-image: url('data:image/svg+xml;utf8,<svg width="30" height="30" viewBox="0 0 30 31" xmlns="http://www.w3.org/2000/svg"><title>Oval 1 + Line</title><g fill="none" fill-rule="evenodd"><g transform="translate(1 1)" stroke="#ccc" stroke-width="2"><circle cx="11" cy="11" r="11"/><path d="M18.393 19.393L27 28" stroke-linecap="square"/></g></g></svg>');
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 30px;
    height: 30px;
    padding: ($pageHeaderContentHeight / 2) - 15px;
}

.page-header-search {
    box-sizing: border-box !important;
    flex: 1;
    height: $pageHeaderContentHeight;
    vertical-align: top;
    border: none;
    font-family: "adelle-sans";
    font-size: 30px;
    color: #df2e1c;

    &::selection {
      background: #ffb7b7;
    }

    &:focus {
        outline: 0;
    }
}

.page-header.not-expanded > .login-switch {
    display: none;
}

.login-switch {
    display: inline-block;
    line-height: $pageHeaderContentHeight;
}

.login-switch-link {
    color: $color-text-main;
    font-family: "adelle-sans";
    border: 0;
    background: none;
    padding: 0;

    &:focus {
        outline: 0;
    }

    &:hover {
        text-decoration: underline;
    }
}