.colorized-pinyin {
    display: flex;
    flex-wrap: wrap;
}

.colorized-pinyin-syllable {
    margin-right: 5px;
}

.colorized-pinyin-syllable.tone-1 {
    color: #FF4136;
}

.colorized-pinyin-syllable.tone-2 {
    color: #FABC00;
}

.colorized-pinyin-syllable.tone-3 {
    color: #45D193;
}

.colorized-pinyin-syllable.tone-4 {
    color: #5CABF0;
}