.search-results {
    list-style-type: none;
}

.search-results-item {

}

.search-results-headword {
    font-size: 18px;
}

.definition-list {
    list-style-type: none;
    padding: 0;
}

.definition-list-item {
}