.search-results {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.search-results-item {
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.search-results-item-header {
    font-size: 18px;
    background: #eee;
    padding: 10px;
    margin: 0;
}

.search-results-item-headword {
    display: inline-block;
    margin-right: 10px;
}

.search-results-item-content {
    padding: 10px;
}

.definition-list {
    list-style-type: none;
    padding: 0;
}

.definition-list-item {
}