.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.search-results-item {
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid $color-border;
}

.search-results-item-header {
    font-size: 18px;
    padding-left: 20px;
    margin: 0;
    color: $color-text-main;
}

.search-results-item-headword {
    display: inline-block;
    margin-right: 10px;
}

.search-results-item-content {
    padding: 20px;
    padding-top: 0;
    background: #fff;
}

.definition-list {
    line-height: 200%;
}

.definition-list-item {
    color: $color-text-main;
}