.tab-view-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.tab-view-tab {
    border-bottom: 2px solid transparent;

    display: inline-block;
    margin: 30px 16px;
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;

    font-family: "adelle-sans";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;

    &:hover {
        border-bottom: 2px solid #3C73AC;
    }
}

.tab-view-tab.selected {
    color: #3C73AC;
    border-bottom: 2px solid #3C73AC;
}